#Bin/
#Graphic/
#Help/
#Language/
#Library/
#LogFiles/
#System/
#Ignore all directories excpet the ones specifically wanted for the repo
/*/

#Keep the Methods directory in the repo
#  but not the VM sub-directory
#  and not any files saved directly in the Methods directory
!/Methods
Methods/VM/
Methods/*.*

#Keep the liquid class definition file in the Config directory
#  but nothing else from there
!/Config
Config/*
!Config/ML_STARLiquids.mdb

#Keep the LabWare directory
!/LabWare

#Exclude any zip files and and .exe files
*.zip
*.exe
