# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.dat text

# Declare files that will always have CRLF line endings on checkout.
*.hsl text eol=crlf
*.hs_ text eol=crlf
*.hsi text eol=crlf
*.lmsf text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.med binary
*.lay binary
*.ctr binary
*.rck binary
*.lid binary
*.dll binary
*.bmp binary
*.png binary
*.jpg binary