#Ignore all directories except the ones specifically wanted for the repo
/*/

#Track the Methods directory in the repo
#  but not the VM sub-directory
#  and not any files saved directly in the Methods directory
!/Methods
Methods/VM/
Methods/*.*

#The basic deck layout file should be tracked, even though it is directly saved in Methods/
!/Methods/NIST NGS-STAR deck 0*

#The empty deck layout file should be tracked, even though it is directly saved in Methods/
!/Methods/Empty deck*

#The Methods/HSLTrcLib.hsl file should be tracked
#    since a copy of it was referenced in the Methods/ folder 
#    by the initial Hamilton engineer who did the programming
#    I don't know if this extra copy is any different from the one in the Library folder
!/Methods/HSLTrcLib.hsl

#Track the liquid class definition file in the Config directory
#Also track the simulator instrument configuration file so that differnt instruments can be simulated on office computers
#  but nothing else from there
!/Config
Config/*
!Config/ML_STARLiquids.mdb
!Config/ML_STAR_Simulator.cfg

#Track the LabWare directory
!/LabWare

#Track the Library directory
!/Library
#Don't track the uninstall info for the HepaHood
Library/Hamilton HepaHood/unins*

#Ignore any zip files and and .exe files
*.zip
*.exe

#Ignore temporary files that start with ~
~*

#Ignore compiled help files (.chw)
*.chw

#Track the LMSF_FrontEnd directory
!/LMSF_FrontEnd
# but not the parameters.csv file
/LMSF_FrontEnd/parameters.csv

#Ignore any schema.ini files (created by Venus for file reading)
schema.ini
